<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_telemedicine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_telemedicine"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleMedicine"
        tools:targetApi="31">
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.ui.theme.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.PatientActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.InfoActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.DiseaseDetailsActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.MedicinesActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.DoctorsActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.PatientDashboardActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.UserRegistrationActivity"
            android:exported="false" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.AccessActivity"
            android:exported="true" />
        <activity
            android:name="rakhi.teessideS3380164.telemedicineapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TeleMedicine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>