<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_telemedicine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_telemedicine"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleMedicine"
        tools:targetApi="31">
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".DiseaseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MedicinesActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".PatientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".AccessActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TeleMedicine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>